* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-image: linear-gradient(
    225deg,
    rgba(111, 78, 55, 1),
    rgba(229, 159, 113, 1)
  );
}
.column-container {
  display: flex;
  width: 100%;
  height: 100vh;
  min-width: 650px;
}
button {
  background-color: #cfffb0;
}
#save_buttons {
  margin-top: 10px;
}
#save_message {
  color: #37261b;
  font-size: 20px;
}
#before_extras {
  color: rgb(90, 11, 11);
  font-size: 20px;
}
#changelog {
  position: absolute;
  top: 5px;
  left: 5px;
}

[data-ready='false'] {
  background-color: #f50000;
}

[data-ready='5min'] {
  background-color: #ff0a0a;
  transition-duration: 50s;
}

[data-ready='4min'] {
  background-color: #ff1f1f;
  transition-duration: 60s;
}

[data-ready='3min'] {
  background-color: #ff3333;
  transition-duration: 60s;
}

[data-ready='2min'] {
  background-color: #ff4747;
  transition-duration: 60s;
}

[data-ready='1min'] {
  background-color: #ff5c5c;
  transition-duration: 60s;
}

[data-ready='true'] {
  background-color: #cfffb0;
  transition-duration: 2s;
}

#columnRight .column-header {
  background-color: #6f4e37;
}

.column {
  margin: 10px;
  margin-top: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  height: calc(100vh - 40px);
}

#reset-confirm {
  margin-top: 20px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#reset-confirm > * {
  margin: 5px;
}

.container.left {
  margin-top: 25px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.special-container {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.special-container > * {
  margin: 5px;
}

.special-container > h3 {
  color: #483b32;
}

.boosting-ui {
  display: flex;
  justify-content: center;
  align-items: center;
}

#boosting-ui h1 {
  color: red;
}
.column-header {
  font-size: 25px;
  position: relative;
  background-color: white;
  top: 8px;
}

.click-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.click-container > * {
  margin-top: 10px;
}

#big_coffee {
  user-select: none;
  font-size: 128px;
  cursor: pointer;
}

.click-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-container {
  font-size: 30px;
  margin: 10px;
}

.cps-container {
  font-size: 20px;
}

#producer_container {
  padding: 10px;
  overflow: auto;
  border: 2px black solid;
  border-radius: 5px;
}

.producer {
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.producer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producer-title {
  font-size: 20px;
}

.producer button {
  font-size: 15px;
  width: 50px;
}
