body {
  background-color: black;
  color: aqua;
}

.formDiv {
  margin-bottom: 50px;
}

.green {
  background-color: green;
}

.red {
  background-color: orangered;
}

.right-text {
  text-align: right;
}

.info {
  text-align: left;
  margin-bottom: 50px;
  margin-top: 30px;
}

.separator {
  margin-top: 30px;
  margin-bottom: 20px;
}

#outer-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

th {
  border-bottom: solid 3px red;
  background: rgb(59, 132, 196);
  color: black;
  font-weight: bold;
  padding: 10px;
}

table {
  border: solid 1px blue;
  margin-right: auto;
  margin-left: auto;
}

td {
  padding: 10px;
  border: solid 1px gray;
}
